@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}


* {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Blüten {
  width: 16px;
  height: 24px;

  background: #28E3E9;
  border-radius: 16px 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-active-leaf {

  width: 10px;
  height: 16px;

  background: #28E3E9;
  border-radius: 16px 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-inactive-leaf {

  width: 10px;
  height: 16px;

  background: rgba(98, 195, 198, 0.3);
  border-radius: 16px 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.cart-subscript {
  /* Frame */

  position: absolute;
  width: 18px;
  height: 18px;
  left: 18px;
  top: 7px;

  /* Secondary 30 */
  background: rgba(98, 195, 198, 0.3);
  border-radius: 24px;
}


.footer-leaf {

  width: 10px;
  height: 16px;

  background: #28E3E9;
  border-radius: 16px 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #62C3C6;
  /* Custom border color */
  border-radius: 4px;
  /* Optional: makes the checkbox rounded */
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  background-color: rgba(134, 190, 192, 0.4);
  border: 0
}

input[type="checkbox"]:checked::before {
  content: '✔';
  color: "#62C3C6";
  font-size: 12px;
}